.App {
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 5px;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.json {
  padding: 5px;
}

#createDnaSequence {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 5px;
  flex-wrap: wrap;
}

.nav-btn {
  text-decoration: none;
  color: white;
  background-color: #15d798;
  border-radius: 3px;
  padding: 10px 20px;
}

.submit-data-btn {
  text-decoration: none;
  color: white;
  background-color: #15d798;
  border-radius: 3px;
  padding: 10px 20px;
}

.data-upload-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

#bulk-uploads-container {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

#data-upload-title {
}

.vertical-flex-container {
  padding: 5px;
  padding-top: 15px;
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  text-align: center;

  flex-wrap: wrap;
}
